<div class="container">
  <div class="py-5 text-center">
    <h2>Order Confirmation</h2>
    <p class="lead">Check your order before checkout.</p>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your order</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <img src="https://placehold.co/80x100" alt="" />
            </th>
            <td>Mark</td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
          <tr>
            <th scope="row">
              <img src="https://placehold.co/80x100" alt="" />
            </th>
            <td>Jacob</td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2"></td>
            <td>Total</td>
            <td>350,000 đ</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">
        Continue
      </button>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2017-2020 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
