<div class="container min-vh-100">
  <div class="row pt-5">
    <form class="col-md-5 mx-auto" #registerForm="ngForm">
      <h2>Register</h2>
      <div class="form-group">
        <label for="formPhone">Phone</label>
        <input
          type="tel"
          class="form-control"
          id="formPhone"
          placeholder="Enter phone number"
          [(ngModel)]="phoneNumber"
          [ngModelOptions]="{ standalone: true }"
          (focus)="registerForm.form.markAllAsTouched()"
          required
        />
        <p
          class="text-danger"
          *ngIf="phoneNumber.length < 6 && registerForm.form.touched"
        >
          Phone number must have at least 6 digits.
        </p>
      </div>
      <div class="form-group mt-2">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Password"
          required
        />
        <p
          class="text-danger"
          *ngIf="password.length < 3 && registerForm.form.touched"
        >
          Password must have at least 3 digits.
        </p>
      </div>
      <div class="form-group mt-2">
        <label for="retypePassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="retypePassword"
          placeholder="Confirm Password"
          [(ngModel)]="retypePassword"
          [ngModelOptions]="{ standalone: true }"
          (input)="registerForm.form.markAsTouched(); checkPasswordsMatch()"
          required
        />
        <p
          class="text-danger"
          *ngIf="
            registerForm.controls['retypePassword']?.hasError(
              'passwordMismatch'
            ) && registerForm.form.touched
          "
        >
          Password must have at least 6 digits.
        </p>
      </div>
      <div class="form-group mt-2">
        <label for="formFullName">Fullname</label>
        <input
          type="text"
          class="form-control"
          id="formFullName"
          placeholder="full name"
          [(ngModel)]="fullName"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="form-group mt-2">
        <label for="formDateOfBirth">Date of birth</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="dateOfBirth"
          name="formDateOfBirth"
          (input)="registerForm.form.markAsTouched(); checkAge()"
        />
        <p
          class="text-danger"
          *ngIf="
            registerForm.controls['dateOfBirth']?.hasError('invalidAge') &&
            registerForm.form.touched
          "
        >
          You are not 18 enough.
        </p>
      </div>
      <div class="form-group mt-2">
        <label for="formAddress">Address</label>
        <input
          type="text"
          class="form-control"
          id="formAddress"
          placeholder="address"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-3 w-100"
        (click)="onRegister()"
      >
        Register
      </button>
      <p class="small text-center text-gray-soft mt-3">
        Already have an account?
        <a href="/login">Sign in</a>
      </p>
    </form>
  </div>
</div>
